// Colors
$white-color: #ffffff;
$default-text-color: #000000;
$violet-color: #8d81ac;
$light-gray-color: #848e97;
$light-violet-color: #7e557c;
$dark-violet-color: #41173e;
// Fonts
$roboto-font: 'Roboto', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;
$lato-font: 'Lato', sans-serif;
//Colors Nomiso
$primary-grey-color: #b8b8b8;
$second-grey: #d4d4d4;
$main-color: #18cfab;
$blue-color: #00cbf6;
$dark-blue-color: #1c2a33;
